<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<bean id="baseDao" class="com.ssh.dao.BaseDao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="employeeDao" class="com.ssh.dao.EmployeeDao" parent="baseDao">
	</bean>
	
	<bean id="departmentDao" class="com.ssh.dao.DepartmentDao" parent="baseDao">
	</bean>
	
	<bean id="employeeServiceTarget" class="com.ssh.service.EmployeeService">
		<property name="employeeDao" ref="employeeDao"></property>
	</bean>
	
	<!-- 代理对象 -->
	<bean id="employeeService" parent="baseTransactionProxy">
		<property name="target" ref="employeeServiceTarget" />
	</bean>
	
	<bean id="departmentServiceTarget" class="com.ssh.service.DepartmentService">
		<property name="departmentDao" ref="departmentDao"></property>
	</bean>
	
	<!-- 代理对象 -->
	<bean id="departmentService" parent="baseTransactionProxy">
		<property name="target" ref="departmentServiceTarget" />
	</bean>
	
	<bean id="employeeAction" class="com.ssh.action.EmployeeAction" scope="prototype">
		<property name="employeeService" ref="employeeService"></property>
		<property name="departmentService" ref="departmentService"></property>
	</bean>
	
</beans>	
